.box{
	background-color: red
}

a:link{
	text-decoration:none;
	color:#0468BF;
}

a:hover{
	text-decoration:underline;
}

a:visited{
	text-decoration:none;
	color:#0468BF;
}

{
	margin: 0; 
	padding: 0; 
}
body { 
	font-size: 62.5%; 
	font-family: 'Lora', serif;
	background-color:#F2F2F2 ;
	color: #999; 
	padding: 20px;
}
tr { 
	vertical-align: top;
}
.box { 

}
p { 
	font-size: 1.2em; 
	margin: 0 0 15px 0; 
}
h1 { 
	font-family: Sans-serif; 
	font-size: 4.0em;
	letter-spacing: -1px; 
	color: #ccc; 
	display: inline-block;
}
.title { 
	font-size: 3.0em;
	background-color:#F2E205;
	letter-spacing: -1px;
	padding:0px 0px 5px 5px; 
	color: #0468BF; 
	display: inline-block;
}
.tags { 
	font-size: 2.0em;
	letter-spacing: -1px;
	padding:0px 0px 5px 5px;  
	color: #0468BF; 
	white-space: pre-wrap;
	display: inline-block;
	margin-top:-1em;
}

.tags span{
	background-color:#72BF6F;
	padding-right:5px;
	box-shadow: 0.25em 0 0 #72BF6F,-0.25em 0 0 #72BF6F;
}

#about{
	background-color:rgba(242,226,5,0.9);
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	display:none;
	opacity:80%;
}
#close{
	position:absolute;
	top:0;
	right:0;
	font-size:3em;
}

#about p{
	margin-left:auto;
	margin-right:auto;
	width:70%;
	font-size:2.0em;
	margin-top:auto;
	margin-bottom:auto;
	height:20%;
	color:#0468BF;
}

/*THE ABOUT PAGE */

#aboutContainer{
	width:60%;
	margin-left:auto;
	margin-right:auto;
	margin-top:5%;
}

#blurb{
	
}

#aboutContainer img{
	width:33.333%;
	float:left;
}

#aboutContainer p{
	width:33.333%;
	float:left;
	margin-left:1%;
}

#social{
	float:left;
	display:inline;
}

#social img{
	width:20px;
	height:auto;
	margin:10px 10px 10px 10px;
	display:inline;
}

/*///////////////////////////*/
